<!DOCTYPE html>
<html>
    <head>
        <title>Limitless Lifestyle</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body style="background-color:rgb(222, 255, 255);">
        <div class="topnav">
            <a href="/main">Home</a>
            <a href="/fitness">Fitness</a>
            <a href="/nutrition">Nutrition</a>
            <a href="/mental_health">Mental & Social Health</a>
            <a class="active" href="/contact">Contact</a>
            <div class="login">
            <a href="/login"><button class="login">Logout</button></a>
            </div>
        </div> <hr>
        <div class="w3-content w3-text-black" id="contact">
            <h2 style="color:#b02b74">Contact Me</h2>
        
            <div class="w3-section">
              <p> <i class="fa fa-map-marker"></i> Address: A-4, Tower 9, New Motibagh, New Delhi, India</p>
              <p> <i class="fa fa-phone"></i> Phone: +91 9818458935</p>
              <p> <i class="fa fa-envelope"></i> Email: sreshta.cheekatla@gmail.com</p>
            </div> <hr style="border: 1px solid black;">
            <h4 style="text-align: center; color:#b02b74">Let's get in touch! Send me a message:</h4>
        
            <form target="_blank">
              <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
              <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
              <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
              <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
              <p style="color:white; text-align:center">
                <br>
                <button class="w3-button w3-padding-large button1" style="background-color:#b02b74" type="submit">
                  <i class="fa fa-paper-plane"></i> SEND MESSAGE </button>
              </p>
            </form>
          </div>
    </body>
</html>