<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css">
<title>Fitness - Limiteless Lifestyle</title>
<style>
  table{font-family:arial,sans-serif;border-collapse:collapse;width:100%}
  td,th{border:1px solid #dddddd;text-align:center;padding:8px}
</style>
</head>
<body>
  <div class="topnav">
    <a href="/main">Home</a>
    <a class="active" href="/fitness">Fitness</a>
    <a href="/nutrition">Nutrition</a>
    <a href="/mental_health">Mental & Social Health</a>
    <a href="/contact">Contact</a>
    <div class="login">
      <a href="/login"><button class="login">Logout</button></a>
      </div>
  </div>
  <header>
    <h1>Guide to Fitness</h1>
  </header> <br>
    <section id="aboutf" style="background-color: bisque;">
    <div class="div1 container">
        <img class="pic1" src="https://img.freepik.com/free-photo/sports-tools_53876-138077.jpg?size=626&ext=jpg&ga=GA1.1.2082370165.1711065600&semt=sph" alt="sports pic"></img>
        <p>Fitness is the ability of the body to carry out various types of daily activities without feeling tired. General fitness, which refers to health and well-being and special fitness relates to a particular type of exercise. In contrast with physical activity and exercise, fitness is more about the state of the body. Research defines physical fitness as the ability to vigorously carry out daily tasks without fatigue and with ample energy to both enjoy leisurely activities and 
          deal with unforeseen emergencies. Some of the major benefits of physical fitness include the ability to perform tasks without becoming tired or sustaining an injury, 
          increased energy levels throughout the day, and lower risk for cardiovascular diseases and heart problems.</p>
    </div>
    </section>
    <br> <br>
    <table>
        <tr>
          <th>Activity</th>
          <th>Duration/ Quantity</th>
        </tr>
        <tr>
          <td>Physical Exercise (Moderate-Hard Strain)</td>
          <td>Min. 1 Hr</td>
        </tr>
        <tr>
          <td>Uninterrupted (REM) Sleep</td>
          <td>6-8 Hours</td>
        </tr>
        <tr>
          <td>Food Intake</td>
          <td><a href="nutrition.html">Calories based on BMI</a></td>
        </tr>
        <tr>
          <td>Walking</td>
          <td>Approx. 10000 steps</td>
        </tr>
        <tr>
          <td>Meditation</td>
          <td>Approx. 10 Minutes</td>
        </tr>
    </table> <br>
    <hr>
</body>
</html>
      
