<!DOCTYPE html>
<html>
<head>
<title>Limitless Lifestyle</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
</head>
<body style="background-color:rgb(222, 255, 255);" onload="checkCookie()">
  <div class="topnav">
    <a class="active" href="/main">Home</a>
    <a href="/fitness">Fitness</a>
    <a href="/nutrition">Nutrition</a>
    <a href="/mental_health">Mental & Social Health</a>
    <a href="/contact">Contact</a>
    <div class="login">
      <a href="/login"><button class="login">Logout</button></a>
    </div>
  </div> <hr>
  <p id="welcome" style="text-align:right"></p>
  <h1 style="text-align: center; font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; padding-top:5px;">Limitless Lifestyle- Fitness, Nutrition, and More!</h1>
  <div style="background-color:azure; padding:10px">
    <p style="text-align: center;">
    <a href="fitness.html"> <img src="https://images.pexels.com/photos/5310782/pexels-photo-5310782.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Girl Jogging" class="div2"> </a>
    <a href="nutrition.html"> <img src="https://images.pexels.com/photos/3872370/pexels-photo-3872370.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Veggies" class="div2"> </a>
    <a href="mental_health.html"> <img src="https://images.pexels.com/photos/2597205/pexels-photo-2597205.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Health" class="div2"> </a>
    <a href="nutrition.html"> <img src="https://images.pexels.com/photos/4099235/pexels-photo-4099235.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Nutrition" class="div2"> </a> </p>
  </div>
  <br><hr>
  <div>
    <h2 class="home_font" style="text-align:center">The Aim</h2>
    <h3 class="home_font">With growing health issues across the world, this website serves as a platform for awareness and self-improvement, and is a place with enticing content and fun activities to improve your lifestyle. Fitness is always measured on a continuum and basic elements that it comprises are body composition, muscle strength, flexibility, cardiovascular endurance which are all gained through proper diet and physical practices.</h3>
    <h3 class="home_font">The website comprises of fitness, nutrition, and other important sections to help live a healthy lifestyle. It contains:</h3>
    <ul class="home_font">
      <li>Images and Infographics</li>
      <li>A Body-Mass Index Calculator</li>
      <li>Articles and Fun Facts</li>
      <li>Workout Videos and Food Guides</li>
      <li>Contact Section</li>
    </ul> 
  </div>
  <br>
</body>
</html>