<!DOCTYPE html>
<html>
<head>
  <title>Nourish Your Mind</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="topnav">
    <a href="/main">Home</a>
    <a href="/fitness">Fitness</a>
    <a href="/nutrition">Nutrition</a>
    <a class="active" href="/mental_health">Mental & Social Health</a>
    <a href="contact.html">Contact</a>
    <div class="login">
      <a href="/login"><button class="login">Logout</button></a>
      </div>
  </div>
    <h2>Mental Health- An Often Ignored Aspect of Lifestyle and Fitness</h2>
    <p>According to the World Health Organization (WHO), "an integral component of health and well-being that underpins our individual and collective abilities to make decisions, build relationships and shape the world we live in" and is more than the absence of mental disorders.</p>
    <h3>Ways to nourish one's mental health: </h3>
    <ol>
        <li>Keep a Positive Mindset and be Adaptable</li>
        <li>Try new activities, challenge your mind</li>
        <li>Get out of your comfort zone, push yourself to achieve new things</li>
      </ol> <hr>
      <p align="center"><iframe src="https://www.gamian.eu/wp-content/uploads/baw-infographic-1.png" height="500" width="650" title="Mental Health in a Frame"></iframe>
      <iframe src="https://diagnostics.mapmygenome.in/media/blog/2018/10/Mental-Health-Awareness-2018.png" height="500" width="650" title="Mental Health in a Frame"></iframe></p>
</body>
</html>